.background-image{
  background-image: url('C:\Users\mucky\Documents\GitHub\markus-site\public\assets\peter-gargiulo-cGNCepznaV8-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}